.navbar-bran:hover {
  color: #fff;
  border-bottom: 3px solid #fff;
  transition: border-bottom 0.1s ease;
}

body {
  background: url(../images/img.jpg) no-repeat fixed;
  background-size: cover;
}
.fondo-two {
  background: url(../images/img-2.jpg) no-repeat fixed;
  background-size: cover;
}
h1,
p,
label {
  color: #fff;
  text-shadow: #111 2px 2px 5px;
}
.navbar-bran {
  text-decoration: none;
  color: #fff;
}
.nav {
  background-color: #222;
  opacity: 0.9;
}
.div {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.color {
  color: #000;
}
.color:hover {
  color: #000;
  border-bottom: 3px solid #000;
}
.bg {
  background-color: #fff;
  opacity: 0.9;
}
.form-fondo {
  width: 45rem;
  margin: auto;
  background-image: linear-gradient(
    90deg,
    rgba(250, 250, 250, 0.2),
    rgba(40, 40, 40, 0.3)
  );
  padding: 50px 0;
  border-radius: 10px;
}
/* .form-fondo-two {
  background-image: linear-gradient(
    rgba(0, 0, 200, 0.3),
    rgba(0, 200, 200, 0.3)
  );
}
 */
